### Java/Maven/Gradle ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iml
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node.js / JavaScript ###
node_modules
dist
dist-ssr
*.local

### Logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### Editor Configs ###
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Mac OS ###
.DS_Store

### Miscellaneous ###
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

### Flutter/Dart/Pub related ###
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

### Firebase ###
.firebase/

### Web related ###
lib/generated_plugin_registrant.dart

### Symbolication related ###
app.*.symbols

### Obfuscation related ###
app.*.map.json

### Android Studio ###
/android/app/debug
/android/app/profile
/android/app/release